.cabecera :nth-child(1)
    {
        width: 150px;
    }
.cabecera
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin-left: 100px;
    }
.menu ul
    {
        gap: 40px;
        display: flex;
    }
.menu ul li
    {
        display: inline-block;
        color: #6E6E6E;
        font-size: larger;
        padding-top: 140px;
    }
.menu a:hover
    {
        color: #00B2E3;
        font-weight: bold;
    }
.menu li :nth-child(1):hover
    {
        letter-spacing: -0.7px;
    }
.menu li :nth-child(4):hover
    {
        letter-spacing: -5px;
    }
.seccion_inicio
    {
        background-color: lightgray;
        height: 100vh;
    }
.logo
    {
        display: flex;
        gap: 15px;
    }
.logo p
    {
        color: #00B2E3;
        align-self: flex-end;
        font-size: larger;
    }
.logo p strong
    {
        color: #6E6E6E;
    }
.inicio
    {
        margin-left: 100px;
        margin-top: 100px;
    }
.inicio h1
    {
        color: #6E6E6E;
        font-size: 80px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.inicio h2
    {
        color: #6E6E6E;
        font-size: xx-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.inicio h2 span
    {
        color: #00B2E3;
    }
.botones
    {
        margin-top: 100px;
        display: flex;
        gap: 50px;
    }
.botones p
    {
        color: white;
    }
.dudas
    {
        background-color: #00B2E3;
        border-radius: 10px;
        height: 50px;
        width: 150px;
    }
.info
    {
        background-color: #00B2E3;
        border-radius: 10px;
        height: 50px;
        width: 150px;
    }
.cursos
    {
        height: 100%;
    }
.cursosTitulo
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 90px;
        color: #6E6E6E;
        font-weight: bolder;
        margin-top: 100px;
        margin-left: 10%;
    }
.cursosDivision
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10%;
        margin-top: 150px;
        gap: 150px;
    }
.curso1
    {
        background-image: url("img/1.png");
        background-repeat: no-repeat;
        width: 1000px;
        height: 1000px;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
    }
.curso1 p
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }
.curso2
    {
        background-image: url("img/2.png");
        background-repeat: no-repeat;
        width: 400px;
        height: 1000px;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
    }
.curso2 p
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }
.curso3
    {
        background-image: url("img/3.png");
        background-repeat: no-repeat;
        width: 1000px;
        height: 400px;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
    }
.curso3 p
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }
.curso4
    {
        background-image: url("img/4.png");
        background-repeat: no-repeat;
        width: 400px;
        height: 400px;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
    }
.curso4 p
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }
.curso5
    {
        background-image: url("img/5.png");
        background-repeat: no-repeat;
        width: 400px;
        height: 400px;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: space-between;
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }
.curso5 p
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }
.curso6
    {
        background-image: url("img/6.png");
        background-repeat: no-repeat;
        width: 1000px;
        height: 400px;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-row: 3 / span 1;
        grid-column: 2 / span 2;
    }
.curso6 p
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        color: white;
        margin-left: 20px;
        margin-right: 10px;
    }
footer
    {
        background-color: lightgray;
        height: 100px;
        width: 99.1vw;
        font-weight: bold;
        margin-top: 500px;
    }
.footer1 ul
    {
        display: flex;
        gap: 25px;
        justify-content: center;
    }
.footer1 ul li
    {
        display: inline-block;
        color: #6E6E6E;
    }
.footer2
    {
        padding-top: 25px;
        color: #6E6E6E;
        width: 99.1vw;
        display: flex;
        justify-content: center;
    }
